{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/Bcss/bootstrap.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/home" ><img src="{% static 'images/index/LOGO.png' %}" width="110" height="80" /><a/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color:#ffff99">Welcome {{ user.first_name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/timetable">Time Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu" >Cafe/Annapurna Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/paper" >Previous Year Papers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Buy/Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/paper" >Q&A</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Your Profile</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <script src="{% static 'js/Bjs/bootstrap.js' %}"></script>
  {% block content %}
  
  {% endblock content %}
</body>

</html>